@{
    ViewBag.Title = "About";
}
<h2>About Tenant1: AO</h2>

<i class="fa fa-sitemap" style="font-size: 320px"></i> 

<p>
    This is the about page for our primary tenant. It attempts to show how the same views for one tenant can be completely customized and changed from that for another. Allowing us extreme degrees of flexibility in the front end. If you want
    to see some real "ABOUT" info, please click the link below that will redirect you to the tenant 2 domain.
</p>
<a href="http://xv.fithesis.info/home/about">Tenant 2 About Page</a>