<h1>Brace yourself. This section of the project is coming</h1>
<br/>
<h4>In the meanwhile have a look at the work under the @Html.ActionLink("feature testing", "Index", "FeatureTest")</h4>
<div class="pull-right">
    <img src="~/Content/Img/ComingSoon.png" alt="ComingSoon" />
</div>
<p>This section of the project should host a small demo marketplace built using the project architecture</p>
