@model Microsoft.Azure.Documents.Client.ResourceResponse<Microsoft.Azure.Documents.Document>
    @{
        ViewBag.Title = "Delete";
    }

    <h2>Delete</h2>

<h3>Delete results</h3>
<div>
    @Html.DisplayForModel()
</div>