@model dynamic

@{
    ViewBag.Title = "InitSearchDb";
}

<h2>InitSearchDb</h2>

<div>
    <h4>Search Init Complete</h4>
    <hr />
   
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>