@{
    ViewBag.Title = "About";
}

<h2>About Thesis</h2>
<i class="fa fa-laptop" style="font-size: 320px"></i>
<h3>Author</h3>
Aubrey Douglas Oosthuizen


<h3>In fulfillment of</h3>
Masters thesis at the Faculty of Informatics. Masaryk University. Winter 2014

<h3>Abstract</h3>
The introduction of cloud computing has allowed applications to run on shared resources. As a result, the hosting world has become subject to economies of scale. In order to truly benefit from this shared resource model, many software providers are faced with the question of implementing multi-tenancy. This model contrasts with traditional software approaches, where each grouping of customers are hosted on their own customized application and database instances. Multi-tenancy promotes sharing of resources all the way from a single application instance to the database. This allows applications to better fit the cloud computing paradigm. All the while, providing increased maintainability, scalability and reducing hosting costs. This thesis attempts to create an architecture description that addresses the design concerns related to the implementation of a multi-tenant, media-marketplace that utilizes Microsoft Azure and ASP.NET. A case study is used for providing context and a prototype is developed in order to test the viability of the resulting architecture description. The primary contribution of this thesis is aimed at providing a solid foundation for SaaS providers wishing to implement cloud-native, multi-tenant applications.

<h3>Tags</h3>
Multi-tenancy, Cloud Computing, Software as a Service, SaaS, Cloud Native Application, SaaS Maturity, Architecture Description, Microsoft Azure, ASP.NET MVC, Command Query Responsibility Segregation, Queue Centric Workflow, Computing

<h3>Description</h3>
 As Cloud Computing becomes more mature and IaaS, PaaS and SaaS make their way into the mainstream, more and more companies are looking to migrate their software to the cloud.
Windows Azure has become a strong candidate for companies relying strongly on Windows based technologies. Although many software solutions are migrated directly to cloud-based, single instance or tenant systems, the recent advances in IaaS, PaaS and SaaS has allowed easier creation of new, multi-tenant systems. These multi-tenant systems allow a single instance of an application to serve multiple clients that can modify and customize parts of the application to fit their own needs.
In this thesis we will look at designing such a multi-tenant architecture for Crossvertise GmbH. Utilizing windows Azure and ASP.Net, we will design an effective Multi-tenant architecture that will be able to provide custom digital media marketplace services to multiple clients.


<h3>Supervisor</h3>
Bruno Rossi, Ph.D., učo 232464, KPSK FI MU, Department of Computer Systems and Communications - Faculty of Informatics

<h3>Reader</h3>
RNDr. Daniel Tovarňák, učo 172673, BO DKI ÚVT MU

<h3>Citation Record</h3>
OOSTHUIZEN, Aubrey Douglas. <i>Developing a Media Marketplace Multi-Tenant Architecture with Windows Azure and ASP.Net</i> [online]. [cit. 2015-01-25]. Diplomová práce. Masarykova univerzita, Fakulta informatiky. Vedoucí práce Bruno Rossi. Dostupné <a href="http://is.muni.cz/th/417457/fi_m/">online</a>;.
